/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* Colors */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

/* Global styles */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Header / Navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--secondary-color);
    background: transparent;
    border: 1px solid var(--secondary-color);
}

.navbar :where(#menu-open-button, #menu-close-button) {
    display: none;
}

/* Hero Section */
.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", cursive;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
}

/* About Section */
.about-section {
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .section-title {
    padding: 0;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link:hover {
    color: var(--secondary-color);
}

/* Menu Section */
.menu-section {
    color: var(--white-color);
    background: var(--dark-color);
    padding: 50px 0 100px;
}

.menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    justify-content: space-between;
}

.menu-section .menu-item {
    width: calc(100% / 3 - 110px);
    text-align: center;
}

.menu-section .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .name {
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.menu-section .text {
    font-size: var(--font-size-m);
}

/* Testimonials */
.testimonials-section {
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonial {
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonial .user-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.testimonial .name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}

.testimonials-section .feedback {
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slide-button {
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

.testimonials-section .swiper-slide-button:hover{
    color: var(--primary-color);
}

/* Contact section */
.contact-section {
    padding: 80px 0 100px;
    background: #fff7f6;
}

.contact-section .section-content {
    display: flex;
    gap: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

/* LEFT INFO */
.contact-info-list {
    max-width: 45%;
}

.contact-info {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
    font-size: 1rem;
    color: #333;
    align-items: center;
}

.contact-info i {
    font-size: 1.1rem;
    color: var(--primary-color);
}

/* RIGHT FORM */
.contact-form {
    width: 100%;
    max-width: 520px;
}

.contact-form h3 {
    display: none;
}

/* Inputs (soft boxed look) */
.contact-form .form-input {
    width: 100%;
    height: 52px;
    padding: 0 16px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background: var(--white-color);
    font-size: 0.95rem;
    outline: none;
}

.contact-form .form-input h3 {
    text-align: left;
}


.contact-form textarea.form-input {
    height: 120px;
    padding: 14px 16px;
    resize: none;
}

.contact-form .form-input:focus {
    border-color: var(--secondary-color);
}

/* Button */
.contact-form .submit-button {
    padding: 12px 34px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 30px;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form .submit-button:hover {
    background: #2a0f14;
}

/* Footer section */
.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-item {
        width: calc(100% / 3 - 60px);
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        inset: 0;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
        z-index: 4;
    }

    .navbar :where(#menu-open-button, #menu-close-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar #menu-close-button {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .navbar .nav-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.3s ease;
        z-index: 5;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-link {
        color: var(--dark-color);
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-section .section-content {
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
        padding: 30px 20px;
    }

    .hero-section .hero-details :is(.subtitle, .description),
    .about-section .about-details, .contact-section .contact-form {
        max-width: 100%;
    }

    .hero-section .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .menu-section .menu-list {
        gap: 30px;
    }

    .menu-section .menu-item {
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-image {
        max-width: 200px;
    }

    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }
}

/* Small screens */
@media screen and (max-width: 640px) {
    .menu-section .menu-list {
        gap: 60px
    }
    
    .menu-section .menu-list .menu-item {
        width: 100%;
    }

    .testimonials-section .slider-wrapper {
        margin: 0 0 30px;
    }

    .testimonials-section .swiper-slide-button {
        display: none;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}